/* Example of using a @font-face font
 * Font can be downloaded at http://www.fonts2u.com/led-board-reversed.font
@font-face {
    font-family: 'LEDBOARDREVERSEDNormal';
    src: url('ledbdrev-webfont.eot');
    src: url('ledbdrev-webfont.eot?#iefix') format('embedded-opentype'),
         url('ledbdrev-webfont.woff') format('woff'),
         url('ledbdrev-webfont.ttf') format('truetype'),
         url('ledbdrev-webfont.svg#LEDBOARDREVERSEDNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/ 
/* Scroller Box */
#scroller_container {
 position: relative;
 width: 100%;
 height: 28px;
 display:block;
 overflow: hidden;
}

#scroller {
 position:absolute;
 white-space:nowrap;
/* Example of using a @font-face font 
/* font-family:'LEDBOARDREVERSEDNormal', 'Comic Sans MS', Arial; */
 font-size:20px;
 color:red;
}

#scroller p {
 padding: 0;
}
/* Scoller Box */

img.sep {
 height=9px;
 width=9px;
 border=0;
 padding-right:10px;
 padding-left:10px;
}
/* CSS Hack Safari */
#dummy {;# }
 